
.calculator-page-container {
  width: 100%;
  height: 100vh;
  display: flex;  
  flex-direction: column;
  background: url("../assets/bg_calc.jpg");
  background-size: cover;          
  background-position: center;   
  padding-top: 80px;
}

.calculator-form-container{
  width: 100%;
  justify-content: center;
  display: flex;
}

.one-col-layout{
  grid-template-columns: repeat(1, 1fr);
  display: grid;
}

.two-col-layout{
  grid-template-columns: repeat(2, 1fr);
  display: grid;
  gap: 1rem;
}

.solar-calculator-form {
  position: relative;
  align-items: center;
  width: 100%;
  max-width: 800px;
  padding: 2rem;
  border-radius: 18px;

  border: 1px solid rgba(255, 255, 255, 0.3); 
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  background: linear-gradient(
      rgba(255, 255, 255, 0.18), 
      rgba(255, 255, 255, 0.18)
    ),
    rgba(15, 120, 200, 0.08);
}

.calculator-form-group{
  margin-bottom: 1rem; 
  transition: color 0.3s, border-color 0.3s;
}


.calculator-form-group label{
  color: white;
  font-size: 1.1rem;  
  font-weight: 500; 
}

.calculator-form-group input {
  width: 100%;
  padding: 0.7rem 1rem;
  box-sizing: border-box;

  border: 1px solid rgba(255, 255, 255, 0.4);

  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);

  color: rgb(62, 62, 62);
  font-size: 1rem;

  transition: all 0.25s ease;
}

.calculator-form-group input:focus {
  outline: none;
  border: 1px solid  #4FC7E5;
}

.calculator-form-group:focus-within label{
  color: #4FC7E5;
}


.solar-calculator-form button {
  padding: 14px 22px;
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
  background-color: #4FC7E5;
  width: 100%;

  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.solar-calculator-form button:hover {
  background-color: #159ec0; 
  box-shadow: 0 0 4px rgba(30, 184, 255, 0.7);
}

.render-results {
  width: 100%;
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.result-group {
  display: flex;
  width: 100%;
  max-width: 800px;
  flex-direction: column;
  gap: 10px;
  padding: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border-radius: 18px;

  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);

  color: rgb(62, 62, 62); 
  box-sizing: border-box;

  background: linear-gradient(
      rgba(255, 255, 255, 0.18), 
      rgba(255, 255, 255, 0.18)
    ),
    rgba(79, 199, 229, 0.799);

  text-align: center;
}

.render-results p {
  font-size: 1rem;
  margin: 6px 0;
  color: white;
}
