.entry-card-container{
  padding: 1rem;
  display: grid;
  gap: 16px;
}

.entry-card {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  padding: 1.25rem;
  box-shadow: 0 8px 20px rgba(0,0,0,0.15);
  color: rgb(229, 225, 225);

}

.entry-header {
  margin-bottom: 0.75rem;
  font-weight: 400;
}

.entry-body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.entry-input-container,
.entry-result-container {
  border-radius: 8px;
}

.entry-input-container li,
.entry-result-container li{
  list-style: none;
}

