.register-page-container{
  width: 100%;
  height: 100vh;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  
  background-image: url("../assets/l:r.png");
  background-size:cover;
  background-position: center;
  padding-top: 80px
}

.register-card {
  grid-template-columns: 1fr 1fr;
  padding: 1rem;
  display: grid;
  height: auto;
  min-height: 70vh;
  max-height: 80vh;
  width: 100%;
  max-width: 900px;

  background: linear-gradient(
    135deg, 
    rgba(79,199,229,0.28), 
    rgba(255,255,255,0.22), 
    rgba(15,120,200,0.12),
  );
  -webkit-backdrop-filter: blur(12px);
  
  border-radius: 16px;
  border: 1px solid rgba(255, 255, 255, 0.5); 
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  overflow: hidden;
  backdrop-filter: blur(12px);
  align-items: stretch;

}

.register-left-container{
  padding: 1rem 1rem; 
  /* outline: auto orange 1px; */
  height: auto;
  align-items: top;
}

.register-form-group {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: .25rem;
}

.register-form-group label {
  font-weight: 400;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

.register-form-group:focus-within label {
  color:  #4FC7E5;
}

.register-left-text-container h1{
  text-align: center;
  margin: 0.25rem;
  color: white;
  font-weight: 700;
  transition: color 0.3s ease;
}

.register-input-field{
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background: transparent;
  transition: border-color 0.3s ease;
  color: rgb(62, 62, 62);
}

.register-input-field:focus {
  border-bottom-color: #4FC7E5;
}

.register-left-container button{
  width: 100%;
  height: 30px;
  margin-top: 0.75rem;

  color: #4FC7E5;
  font-weight: 500;
  letter-spacing: 0.3px;

  background: white;
  border: none;
  outline: none;

  border-radius: 4px;
  cursor: pointer;

  transition: 
    background 0.4s ease,
    box-shadow 0.3s ease,
    transform 0.2s ease;
}

.register-left-container button:hover{
  color: rgb(255, 255, 255);
  background: #4FC7E5;
}


.register-right-container{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: rgb(9, 94, 231); 
  /* outline: auto green 1px; */
  height: 100%;
  overflow: hidden;
  border-radius: 16px;
}

.register-right-text-container{
  position: relative;
  z-index: 2;
  text-align: center;
  position: absolute;
  color: rgb(255, 255, 255);
  text-shadow: 0 1px 5px rgba(0,0,0,0.5);
  padding: 1rem 1rem;
}

.register-right-img {
  width: 100%;
  height: auto;
  object-fit: cover;
  opacity: .8;
}

.render-register-message{
  text-align: center;
  padding: 1rem;
  color: rgb(255, 255, 255);
  font-weight: 700;

}