<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Solar Irradiance{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100 min-h-screen flex flex-col">
  
  <!-- Navbar -->
  <nav class="bg-red-600 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
      <a href="{{ url_for('main.home') }}" class="font-bold">Solar Irradiance Calculator</a>
      <div class="space-x-4">
        {% if 'user_id' in session %}
        <a href="{{ url_for('dashboard.dashboard_view')}}" class="hover:underline">Dashboard</a>
        <a href="{{ url_for('auth.logout')}}" class="hover:underline">Logout</a>
      {% else %}
        <a href="{{ url_for('auth.login') }}" class="px-3">Login</a>
        <a href="{{ url_for('auth.register') }}" class="px-3">Register</a>
      {% endif %}
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <main class="container mx-auto flex-1 p-6">
    {% block content %}{% endblock %}
  </main>

  <!-- Footer -->
  <footer class="bg-gray-800 text-white text-center p-4">
    &copy; Solar Irradiance Calculator (SaaS-Demo). Thank you for visiting.
  </footer>
</body>
</html>
